.page-wrapper { 
	margin: 0; 
	position: relative;
}

/* body {
    background: #000000 repeat-y url(https://images.unsplash.com/photo-1541423408854-5df732b6f6d1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNpdHklMjBza3lsaW5lfGVufDB8fDB8fHww);
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
}
a {
   color: #ffe26c;
   }
a:hover {
   color: #D01810;
   }
h1 {
    font-family: 'Britannic', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
h2 {
    font-family: 'Britannic', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
h3 {
    font-family: 'Courier New', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
ul {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    list-style: circle;
    margin-left: 20px;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 10px;
    right: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

input:checked + .slider {
    background-color: #21F364;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #21F364;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.page-wrapper {
    padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
}
.intro {
    background: rgba(70, 180, 180, 0.95);
    padding: 0px 0 0px 120px;
    height: 150px;
}
.intro-header {
    display: flex;
    text-align: left;
    line-height: 100%;
}

.body-section {
    display: flex;
    background: rgba(80, 80, 128, 0.85);
}
.body-section .resumedownload {
    position: absolute;
}
.profile {
    padding: 20px;
    align-self: center;
}
.profile-no-bottom-padding {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
}
.resume {
    padding: 20px;
    align-self: center;
}
.body-maintext {
    order: 2;
    padding: 0 20px 0 0;
    color: aliceblue;
    font-size: 14px;
}

.sidebar {
    order: 1;
	position: relative;
	right: 0;
	margin: 0px;
	padding: 0 10px 0 10px;
    color: aliceblue;
    background: rgba(54, 205, 58, 0.4);
    text-align: right;
}
.sidebar a {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.sidebar .wrapper {
	padding: 0px; 
	width: 220px; 
}
.sidebar li {
    line-height: 40px;
}
.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.left-image-caption {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-style: italic;
    font-size: small;
    line-height: 0px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.download-button {
    font-family: 'Britannic', Courier, monospace;
    font-size: 20px;
    color: aliceblue;
    border: 4px solid aliceblue;
    background-color: transparent;
    padding: 25px 50px;
    margin: 0 20px;
    transform: translate(20px, 0);
}
.download-button:hover {
    color: #ffe26c;
    border: 4px solid #ffe26c;
    cursor: pointer;
}

footer {
   background: rgba(80, 80, 128, 1);
   color: #fff;
   text-align: left;
   padding: 10px 10px 10px 10px;
}
footer a {
   color: #fff;
   text-decoration: none;
}
footer a:hover {
   text-decoration: underline;
} */