@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

$primary-color: #efefef;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

@mixin text {
  color: $secondary-color;
  font-family: "Outfit", serif;
  text-shadow: 1px 1px 3px black;
}

@mixin rings($duration, $delay) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  animation-duration: $duration;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-name: ripple;
  border: 2px solid $secondary-color;
  border-radius: 2em;
  content: "";
}

@keyframes ripple {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  
  40% {
    opacity: 0.5;
  }

  to {
    transform: scale3d(1.1, 1.2, 1);
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: $primary-color;
  padding: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: max-content;
  height: 100vh;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0; /* Fade out effect */
}

.clock {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2vw;
  color: $secondary-color;
  font-weight: bolder;
  font-size: 2em;
  font-family: "Monaco", "Courier New", monospace;
  text-shadow: 1px 1px 2px black;
}

.verse {
  @include text();
  font-size: 1.2em;
}

.source {
  @include text();
  margin: 0;
  font-size: 2.5em;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid $secondary-color;
  border-radius: 2em;
  background-color: transparent;
  padding: 1vw;
  width: 50vw;
  min-width: 200px;
  text-align: center;

  &::after {
    @include rings(10s, 0s);
  }
}