@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

$primary-color: #efefef;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

@mixin text {
  color: $secondary-color;
  font-family: "Outfit", Helvetica, sans-serif;
  text-shadow: 1px 1px 3px black;
}

@mixin rings($duration, $delay) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  animation-duration: $duration;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-name: ripple;
  border: 2px solid $secondary-color;
  border-radius: 2em;
  content: "";
}

@keyframes ripple {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  40% {
    opacity: 0.5;
  }

  to {
    transform: scale3d(1.1, 1.2, 1);
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: $primary-color;
  padding: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: max-content;
  height: 100%;
  min-height: fit-content;
}

.transition {
  transition: opacity 5s ease-in-out;
}

.sway-bg {
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: sway;
}

@keyframes sway {
  0% {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
  25% {
    transform: translate(calc(-50% + 5px), calc(-50% + 5px)) scale(1.1, 1.1);
  }
  50% {
    transform: translate(calc(-50% - 6px), calc(-50% - 1px)) scale(1.1, 1.1);
  }
  75% {
    transform: translate(calc(-50% + 2px), calc(-50% + 3px)) scale(1.1, 1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
}

.invisible {
  opacity: 0; /* Fade out effect */
}

.time {
  display: flex;
  position: absolute;
  top: 0;
  right: 2vw;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: $secondary-color;
  font-weight: bolder;
  font-family: "Outfit", Helvetica, sans-serif;
  font-variant-numeric: tabular-nums lining-nums;
  text-align: right;
  text-shadow: 1px 1px 2px black;
}

.clock {
  margin-top: -1em;
  padding: 0;
  font-size: 2em;
}

.date {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: fr 1fr;
  grid-template-areas:
    "Month Day"
    "Month Year";
  grid-auto-flow: row;
  gap: 0 1em;
}

.month {
  grid-area: Month;
  align-self: center;
  font-size: 3em;
}

.day {
  grid-area: Day;
  align-self: end;
  margin-bottom: -1em;
  font-size: 1.5em;
  line-height: 1;
  text-align: left;
}

.year {
  grid-area: Year;
  align-self: start;
  margin-top: -1em;
  font-size: 1.5em;
  line-height: 1;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  @include text();
  font-size: 16px;
}

.verse {
  @include text();
  margin-top: 0;
  font-size: 20px;
}

.source {
  @include text();
  margin: 0;
  font-size: 40px;
}

.textfade {
  transition: opacity 1s ease-in-out;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  align-content: center;
  transform: translate(-50%, -50%);
  border: 2px solid $secondary-color;
  border-radius: 2em;
  background-color: transparent;
  padding: 1vw;
  width: 50vw;
  min-width: 30em;
  height: 15em;
  text-align: center;

  &::after {
    @include rings(10s, 0s);
  }
}
